@import url("./modern-normalize.css");

#root {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

body, h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img,svg {
  display: block;
  max-inline-size: 100%;
  max-height: 100%;
}

input, button {
    background-color: transparent;
    appearance: none;
    height: 100%;
    border: 0px;
    padding: 0;
    margin: 0;   
}

:root {
    --fjalla: "Fjalla One", sans-serif;
    --roboto: "Roboto", sans-serif;
    --playfair: "Playfair Display", serif;

    --primary-color: #f7f5f2;
    --primary-text: #2b2b2b;
    --dark-primary: #292d30;
    --accent: #d2b598;
    --sec-accent: #af9173 ;
    
    --shadow: rgba(0, 0, 0, 0.2) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

main {
  display: flex;
  flex-direction: column;
  background: no-repeat url(/src/assets/content-background.jpg);
  background-blend-mode: overlay;
  background-color: rgba(255, 251, 242, 0.900);
  position: relative;
}

.layout {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.layout h1 {
    font-family: var(--fjalla);
    font-size: 3rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

svg {
    stroke-width: 1px;
    stroke: var(--dark-primary);
    transition: stroke-width 0.25s ease;
    
    &:hover {
        stroke-width: 2px;
        cursor: pointer;
    }
}