.layout {
  flex: 1;
  padding: 2rem;
  box-shadow: var(--shadow);
  z-index: 1;
}

.logo {
  font-family: var(--fjalla);
  display: flex;
  align-items: center;
  inline-size: 5rem;
  gap: 0.5rem;
}

ul[role="list"] {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  gap: 2rem;
}

.navItem {
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 75%;

  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
  }

  & a {
    font-size: 2rem;
    font-weight: normal;
    font-family: var(--playfair);
    color: var(--primary-text);
    
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;

  }
}

.selectedItem {
  composes: navItem;
  text-decoration: underline;

  & a {
    font-weight: bold;
  }
}
